<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
                  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/common.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎬</text></svg>"></link>
    <title>리뷰플러스 관리자</title>
</head>
<body>
<div class="dashboard-container">
	<!-- 사이드바 시작 -->
	<aside id="sidebar">
		<div class="sidebar-widget">
			<div class="sidebar-logo">
				<a href="/"><img src="/images/logo.png" alt="logo" class="logoimg"></a>
			</div>
			<button class="toggle-btn" type="button">
            	<i id="icon" class='bx bx-chevrons-right'></i>  
            </button>
		</div>
		<!-- 사이드바 nav -->
		<ul class="sidebar-nav">
			<li class="sidebar-item">
				<a href="/Admin/AdminHome" class="sidebar-link">
					<i id="icon" class='bx bxs-home'></i> 
					<span>관리자 홈</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/Admin/AdminUser" class="sidebar-link">
					<i id="icon" class='bx bx-user'></i> 
					<span>회원 관리</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/Admin/AdminMovie" class="sidebar-link">
					<i id="icon" class='bx bx-movie'></i> 
					<span>영화 관리</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/Admin/AdminReview" class="sidebar-link">
					<i id="icon" class='bx bx-pencil'></i> 
					<span>리뷰 관리</span>
				</a>
			</li>
		</ul>
		<div class="sidebar-footer">
			<a href="/logout" class="sidebar-link">
				<i id="icon" class='bx bx-log-out'></i>
				<span>로그아웃</span>
			</a>
		</div>
	</aside>
    <!-- 사이드바 끝 -->
	
	<!-- 사이드바 옆 메인 시작 -->
	<div class="main">
		<div class="content">
			<h2>리뷰 정보</h2>
			<div class="dashboard-container">
				<div class="dashboard-table">
					<!-- 유저 리뷰 삭제 오류 -->
					<div th:if="${sucReviewUpdate}">
					    <p th:text="${sucReviewUpdate}"></p>
					</div>

					<table class="detail-table">
						<tr>
							<td class="label-td"><label class="labelname">리뷰 번호</label></td>
							<td><input type="text" class="inputbar" th:value="${urd.reviewId}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">닉네임</label></td>
							<td><input type="text" class="inputbar" th:value="${urd.nickname}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">영화 제목</label></td>
							<td><input type="text" class="inputbar" th:value="${urd.title}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">리뷰 내용</label></td>
							<td><textarea class="textarea" th:text="${urd.comment}" readonly></textarea>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">평점</label></td>
							<td><input type="text" class="inputbar" th:value="${urd.rating}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">등록일</label></td>
							<td><input type="text" class="inputbar" th:value="${urd.regDate}" readonly></td>
						</tr>
					</table>
					<div class="btn-detail-container">
						<button th:href="@{/Admin/deleteReview(reviewId=${urd.reviewId})}" 
							  onclick="return confirm('리뷰를 삭제합니다.');"
							  class="btn-detail">
							   삭제
						</button>
						<button type="button" class="btn-detail" onclick="openModal('editUserReviewModal')">수정</button>
					</div>
				</div>
			</div>
		</div>
	</div><!-- 사이드바 옆 메인 끝 -->
	
		<!-- 회원 리뷰 수정 모달  -->
		<div id="editUserReviewModal" class="modal">
		    <div class="modal-content">
		        <span class="close-button" onclick="closeModal('editUserReviewModal')">닫기</span>
		        <h2>회원 리뷰 수정</h2>
		        <form action = "/Admin/userReviewEdit" method = "POST">
		        	<input type = "hidden" name = "reviewId" th:value ="${urd.reviewId}">
		        	
		            <label for="editTitle">영화제목:</label><br>
		            <input type="text" id="editTitle" name = "title" th:value="${urd.title}"><br>
		            
		            <label for="editComment">리뷰내용:</label><br>
		            <textarea id="editComment" name = "comment" th:text ="${urd.comment}"></textarea><br>
		            
		            <label for="editRating">평점:</label><br>
		            <input type="text" id="editRating" name = "rating" th:value="${urd.rating}"><br>
		            
		            <button type="submit" class="btn-modal-edit">수정</button>
		        </form>
		    </div>
		</div>
</div>

<script src="/js/admin.js"></script>
		
</body>
</html>