<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
                  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table-scroll.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎬</text></svg>"></link>
    
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
	<!-- DataTables 기능 -->
	<script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <title>리뷰플러스 관리자</title>
</head> 

<body>
<div class="dashboard-container">
	<!-- 사이드바 시작 -->
	<aside id="sidebar">
		<div class="sidebar-widget">
			<div class="sidebar-logo">
				<a href="/"><img src="/images/logo.png" alt="logo" class="logoimg"></a>
			</div>
			<button class="toggle-btn" type="button">
            	<i id="icon" class='bx bx-chevrons-right'></i>  
            </button>
		</div>
		<!-- 사이드바 nav -->
		<ul class="sidebar-nav">
			<li class="sidebar-item">
				<a href="/Admin/AdminHome" class="sidebar-link">
					<i id="icon" class='bx bxs-home'></i> 
					<span>관리자 홈</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/Admin/AdminUser" class="sidebar-link">
					<i id="icon" class='bx bx-user'></i> 
					<span>회원 관리</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/Admin/AdminMovie" class="sidebar-link">
					<i id="icon" class='bx bx-movie'></i> 
					<span>영화 관리</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="/Admin/AdminReview" class="sidebar-link">
					<i id="icon" class='bx bx-pencil'></i> 
					<span>리뷰 관리</span>
				</a>
			</li>
		</ul>
		<div class="sidebar-footer">
			<a href="/logout" class="sidebar-link">
				<i id="icon" class='bx bx-log-out'></i>
				<span>로그아웃</span>
			</a>
		</div>
	</aside>
    <!-- 사이드바 끝 -->
    
    <!-- 사이드바 옆 메인 시작 -->
	<div class="main">
		<div class="content">
			<h2>회원 정보</h2>
			<div class="dashboard-container">
				<div class="dashboard-table">
					<table class="detail-table">
						<tr>
							<td class="label-td"><label class="labelname">가입일</label></td>
							<td><input type="text"  class="inputbar" th:value="${#temporals.format(userDetails.createdAt , 'yyyy-MM-dd HH:mm:ss')}"  readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">아이디</label></td>
							<td><input type="text" class="inputbar" th:value="${userDetails.userId}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">이름</label></td>
							<td><input type="text" class="inputbar" th:value="${userDetails.pname}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">닉네임</label></td>
							<td><input type="text" class="inputbar" th:value="${userDetails.nickname}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">이메일</label></td>
							<td><input type="text" class="inputbar" th:value="${userDetails.email}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">생년월일</label></td>
							<td><input type="text" class="inputbar" th:value="${userDetails.birthdate}" readonly></td>
						</tr>
						<tr>
							<td class="label-td"><label class="labelname">회원상태</label></td>
							<td><input type="text" class="inputbar" th:value="${userDetails.role}" readonly></td>
						</tr>
					</table>
					<div class="btn-detail-container">
						<button type="button" class="btn-detail" onclick="openModal('editUserModal')">회원수정</button>
						<button type="submit" class="btn-detail" onclick="toggleStatusButtons('userStatusContainer')">회원상태변경</button>
					</div>
					
					<!-- 회원 상태 변경 -->	
					<form action = "/Admin/updateUserStatus" method = "post">
						<input type ="hidden" name ="userId" th:value ="${userDetails.userId}">
						<div id="userStatusContainer" class = "UserStatus">
							<button type="submit" class="btn-detail" name="status" value="ROLE_ADMIN">관리자</button>
							<button type="submit" class="btn-detail" name="status" value="ROLE_USER">일반회원</button>
							<button type="submit" class="btn-detail" name="status" value="ROLE_DORMANT">휴면유저</button>
						</div>
					</form>	
					
					<!-- 회원 수정 모달  -->
					<div id="editUserModal" class="modal">
					    <div class="modal-content">
					        <span class="close-button" onclick="closeModal('editUserModal')">닫기</span>
					        <h2>회원 정보 수정</h2>
					        <form action = "/Admin/userEdit" method = "POST">
					        	<input type = "hidden" name = "userId" th:value ="${userDetails.userId}">
					            <label for="editNickname">닉네임:</label><br>
					            <input type="text" id="editNickname" name = "nickname" th:value="${userDetails.nickname}"><br>
					            <label for="editPname">이름:</label><br>
					            <input type="text" id="editPname" name = "pname" th:value="${userDetails.pname}"><br>
					            <label for="editBirthdate">생년월일:</label><br>
					            <input type="text" id="editBirthdate" name = "birthdate" th:value="${userDetails.birthdate}"><br>
					            <label for="editEmail">이메일:</label><br>
					            <input type="text" id="editEmail" name = "email" th:value="${userDetails.email}"><br>
					            <button type="submit" class="btn-modal-edit">수정</button>
					        </form>
					    </div>
					</div>
					
					<!-- 회원 상태 수정 성공 메시지 -->
					<div th:if="${sucStatus}" class="alert alert-status">
					    <p th:text="${sucStatus}"></p>
					</div>
					<!-- 수정 성공 메시지 -->
		            <div th:if="${suc}" class="alert alert-success">
					    <p th:text="${suc}"></p>
					</div>
					<!-- 수정 실패 메시지 -->
		            <div th:if="${userEditError}" class="alert alert-danger">
					    <p th:text="${userEditError}"></p>
					</div>
			</div>
		</div>
			<!-- 회원 리뷰 목록 -->	
			<h2>회원 리뷰 목록</h2>
			<div class="dashboard-container">
				<div class="dashboard-table">
					<table class="table" id="UserDetailDataTable">
						<thead>
							<tr>
								<th>영화 제목</th>
								<th>닉네임</th>
								<th>리뷰 내용</th>
								<th>평점</th>
								<th>등록일</th>
							</tr>
						</thead>	
						<tbody>
						<!-- th:block div 처럼 html 속성이 남는게 아닌 html 자체 태그 없이 조건문 생성  -->
							<th:block th:if="${!#lists.isEmpty(allUserReviews)}">	
								<tr th:each = "userReviws : ${allUserReviews}"
									th:data-url="@{/Admin/AdminReviewDetail/{reviewId}(reviewId=${userReviws.reviewId})}"
									onclick="UserDetailLink(this);"
									id = "UserReviewsList">
									<td th:text = "${userReviws.title}"></td>
									<td th:text = "${userReviws.nickname}"></td>
									<td th:text = "${userReviws.comment}"></td>
									<td th:text = "${userReviws.rating}"></td>
									<td th:text = "${userReviws.regDate}"></td>
								</tr>
							</th:block>	
						</tbody>
					</table>
					</div>
				</div>
		</div>
		<!-- 푸터 -->
		<footer class="footer">
			<div class="dashboard-container">
				<div class="copyright-text">
					<a href="/">©Copyright 2025 by ReviewPlus</a>
				</div>
			</div>
		</footer>
	</div><!-- 사이드바 옆 메인 끝 -->
</div>

<script src="/js/admin.js"></script>
<script src="/js/adminDataTables.js"></script>
</body>
</html>