

#구글 소셜 로그인
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 
            client-secret: 
            scope:
              - openid                                                 # 1. openid
              - https://www.googleapis.com/auth/userinfo.email         # 2. 이메일
              - https://www.googleapis.com/auth/userinfo.profile       # 3. 프로필
#관리자 문의 메일 전송
  mail:
    host: 
    port: 
    username: 
    password:          
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

