
 /* 푸터  */
#footer{
  width: 100%;  
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #061123;
  box-sizing: border-box;
}
  
 /* 푸터 메일 문의 모달 */
	#MailForwarding {
    position: fixed;
    z-index: 1000; 
    width: 700px;
    height: 500px;
    background-color: rgba(0,0,0,0.7); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
   
   .MailModalLogo {
    margin-top: 100px; 
    display: block; 
   }
   
  /* 메일 문의 폼 내부 통일 정렬 */
#MailForm input,
#MailForm textarea,
#MailForm button {
    width: 100%;            /* textarea와 완전 동일한 폭 */
    padding: 12px 14px;     /* 좌우 여백 통일 → 줄 맞음 */
    box-sizing: border-box; 
    display: block;         /* inline-block 때문에 가운데 몰리는 문제 제거 */
    margin-bottom: 10px;    /* 요소 간 간격 통일 */
    text-align: left;       /* placeholder + 입력 텍스트 왼쪽 정렬 */
    font-size: 14px;
}

/* textarea 높이만 별도로 */
#MailForm textarea {
    height: 120px;
    resize: none;
}
 
 #MailForm {
    width: 500px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;  /* 요소 간 거리 일정하게 유지 */
}  
   
   
  /* 메일 문의 모달닫기 버튼 */ 
.MailCloseBtn {
    position: fixed;
    top: 20px;     /* 원하는 만큼 아래로 내리기 */
    right: 20px;   /* 오른쪽 간격 */
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    z-index: 2000; /* 모달보다 위로 */
}

.MailCloseBtn:hover {
    color: #cccccc;
    transform: scale(1.1);
}
  




  


