
 /* 푸터  */
#footer{
  width: 100%;  
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #061123;
  box-sizing: border-box;
}
   /* 푸터 메일 문의 모달 */
	#MailForwarding {
    position: fixed;
    z-index: 1000; 
    width: 700px;
    height: 500px;
    background-color: rgba(0,0,0,0.7); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
   
   .MailModalLogo {
    margin-top: 100px; 
    display: block; 
   }
   
   #MailForm{
   margin: 0 auto;
   width:500px;
   margin-top:50px;
   }
   
   
   
  /* 메일 문의 모달닫기 버튼 */ 
  .MailCloseBtn{
   color: #aaa; 
   float: right; 
   font-size: 20px; 
   font-weight: bold; 
   line-height: 1; 
   margin-top: -10px;
   margin-right: -10px;
   }
  
  .MailCloseBtn:hover,.MailCloseBtn:focus{
   color: #000; 
   text-decoration: none;
   outline: none;
   cursor:pointer;
   transform: scale(1.05);
   }
   

  


