body{
	margin:0;
	padding:0;
	background-color: #040F16;
}

#indexMovieList{
	margin-top:80px;
}
#MovieList{
	margin-top:140px;
}

#MainMovieListName{
	color:#E84545;
	      
}
	
#MainMovieListName:hover{
color:white;
}


/* 메인 최신리뷰 카드 */
.review-container {
	  display: flex; 
	  flex-wrap: wrap; 
	  gap: 20px; 
	  justify-content: center;
	  
}
.review-card {
  width: 250px;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  overflow: hidden;
  transition: transform 0.2s;
  height: 200px;          
  position: relative;
  background-color:  #061123;
}

.review-card:hover{
	transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* 최신리뷰 안 내용 */
.review-card span , .review-card b{
  display: block;
  margin-bottom: 4px;
  color: white;
}

/* index comment 넘침 방지  */
#comment {
  overflow: hidden;         
  text-overflow: ellipsis;  
  display: -webkit-box;    
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical; 
  color:white;
}

/* 최신리뷰 카드 평점 오른쪽 상단 */
.rating{
	position: absolute; 
    top: 10px;          
    right: 10px;        
    margin: 0; 
    padding: 0;
    z-index: 10; 
}

/* 최신리뷰 카드 작성일 */
#regdate{
	position: absolute; 
    bottom: 15px;          
    left: 20px;        
    margin: 0; 
    padding: 0;
    z-index: 10;
    font-size:13px;
    color: gray;
}

.review-card hr {
	position: absolute; 
    width: 100%; 
    bottom: 40px; 
    left: 0;      
    height: 1px; 
    border: none;
    background-color: #ddd;
    margin: 0; 
    z-index: 5; 
}