.carousel-container {
  width: 100%; 
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background-color: transparent;   
  border-radius: 0;      
  box-shadow: none;
  padding : 0px;
  min-height : 250px;
}


.news-title {
  color : #ff4d4d;
  margin: 0 auto;
  padding-left: 20px;
  
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height:100%;
  gap: 0;
}

.news-list-container {
  overflow: hidden;
  width: 100%;
  height:100%;
}

.news-list {
  display: flex;
  transition: transform 0.5s ease;
  height:100%;
}

.news-item {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  position: relative;
}

.news-item img {
  width: 100%;
  height: auto; /* 비율 유지 */
  margin-bottom: 0; 
  opacity: 0.5; 
  position: absolute; /* .news-item을 기준으로 배치 */
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: 1; 
  object-fit: cover;
}

.news-item .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.news-item .date {
  color: white;
  font-size: 14px;
  text-align: center;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    border: none;
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background: rgba(255, 255, 255, 0.5); 
    color: #333; 
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, color 0.3s;
}

.prev-btn {
  position: absolute;
  left: 10px;
}

.next-btn {
  position: absolute;
  right: 10px;
}

.news-item p {
  position: relative; 
  z-index: 2; 
  text-align: center; 
  
  color: #ff4d4d; 
}

.news-item .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px; 
}

.news-item .date {
  color: #ccc;
  font-size: 14px;
}

